<!DOCTYPE html>
<html>
<head>
  <title>Blog - Computação Amostra</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container responsive">
		<div class="row">
			<%= render 'layouts/navbar' %>
			<%= render 'layouts/messages' %>
			<%= yield %>
		</div>
	</div>
</body>
</html>
